doctype html
html
	head
		title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

		link(href='/json-edit/css/styles.css',rel='stylesheet',type='text/css')

		script(src='/jquery/dist/jquery.min.js')
		script(src='/jquery-ui/jquery-ui.min.js')
		script(src='/angular/angular.min.js')
		script(src='/angular-ui-sortable/sortable.min.js')
		script(src='/json-edit/js/directives.js')
		script(src='/app.js')
		link(href='/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet',type='text/css')
